

label {
    margin-right: 10px;
    font-weight: lighter;
}

input {
    width: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

.react-sweet-progress-symbol {
    color: white !important;
}

.react-sweet-progress-line {
    width: 70% !important;
    height: max-content;
    align-self: flex-end;
}

.react-sweet-progress{
    align-items:normal !important;
    justify-content: left !important;
}

button {
    border-radius: 30px;
    background: #cb4e4e;
    color: #fff;
    box-shadow: 0 6px #ab3c3c;
    -webkit-transition: none;
    -moz-transition: none;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    border: none;
    /* border-color: inherit; */
    background: inherit;
    cursor: pointer;
    padding: 25px 80px;
    /* margin: 15px 30px; */
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

input[type=text]:hover{
    box-shadow: 0 0 5pt 0.5pt #D3D3D3;
  }
  input[type=text]:focus {
    box-shadow: 0 0 5pt 2pt #D3D3D3;
    outline-width: 0px;
  }