name: ci

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version-file: .nvmrc
          cache: npm
      - run: npm install
      - run: npm run lint
      - run: npm run test
      - name: Install playwright browsers
        run: npx playwright install --with-deps
      - name: Run UI tests
        run: npm start & npm run test:qa
      - uses: actions/upload-artifact@v4
        with:
          name: qa-reports
          path: packages/**/.test_results/

  automerge:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write    
    steps:
      - uses: fastify/github-action-merge-dependabot@v3
